<div style="background-color: #00bcd4;  min-height: 80vh;" class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativas2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p>

                    </p>
                </div>
            </div>
        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativas1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p>
                        Identificar donde estás parado y estimar a dónde querés llegar es un paso clave para los avances de tu empresa. Para ello, es necesario la elaboración de un plan de marketing íntegro con un análisis de situación, evaluación de la competencia, objetivos
                        claramente establecidos y una estrategia con tácticas que te permitan alcanzar los objetivos propuestos.
                    </p>
                </div>
            </div>
        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativa7.jpeg" class="card-img-top" alt="...">
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativa8.jpeg" class="card-img-top" alt="...">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

</div>