<div style="background-color: #f1ede3;  min-height: 80vh;" class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativas2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a style="color: #95389e; text-decoration: none;" href="https://api.whatsapp.com/send?phone=543434651725&text=Comunicate%20con%20MYA">Quiero saber más</a>
                </div>
            </div>
        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativas1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a style="color: #95389e; text-decoration: none;" href="https://api.whatsapp.com/send?phone=543434651725&text=Comunicate%20con%20MYA">Quiero saber más</a>
                </div>
            </div>
        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativa7.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a style="color: #95389e; text-decoration: none;" href="https://api.whatsapp.com/send?phone=543434651725&text=Comunicate%20con%20MYA">Quiero saber más</a>
                </div>
            </div>
        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativa8.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="boton" style="color: #95389e; text-decoration: none;" href="https://api.whatsapp.com/send?phone=543434651725&text=Comunicate%20con%20MYA">Quiero saber más</a>
                </div>
            </div>
        </div>
    </div>

</div>