.resaltado {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.subt {
    font-family: 'Raleway', sans-serif;
}

.titulo {
    color: #ffffff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

p {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.icono {
    color: #95389e;
    font-size: 21px;
}

.borde {
    /* border: 3px solid #00bcd4; */
    box-shadow: 15px 15px 20px #95389e;
}

@media (max-width: 576px) {
    .titulo {
        color: #ffffff;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 25px;
    }
    .resaltado {
        color: #ffffff;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: bold;
    }
    p {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        font-size: 16px;
    }
    .tipo {
        font-family: 'Roboto', sans-serif;
    }
}