<div class="container-fluid" style="min-height: 80vh; background-color: #00bcd4;">
    <div class="row justify-content-center">
        <div class="col-10 card mt-3" style="background-color:  #00bcd4; border: #95389e;">
            <h3 class="card-title titulo animate__pulse">
                PLANES A MEDIDA
            </h3>
            <div class="card-body">
                <p>
                    Diseñamos estrategias de acuerdo a lo que estás necesitando y elaboramos un presupuesto sobre ello.
                </p>

                <h1 class="resaltado animate__flash" style="font-family: 'Roboto', sans-serif;"> En un mundo digital, ¡No podés quedar afuera! </h1>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4 mt-3 mb-3">
            <div class="card borde">
                <div class="card-header subt" style="color:#95389e;">
                    <strong>PLAN MI NEGOCIO</strong>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item tipo"><i class="fab fa-google icono"></i> Administración Profesional de Google My Business </li>
                        <li class="list-group-item tipo"><i class="fas fa-image icono"></i> 5 publicaciones x semana</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mt-3 mb-3">
            <div class="card borde">
                <div class="card-header subt" style="color:#95389e;">
                    <strong>PLAN ME GUSTA</strong>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item tipo"><i class="fas fa-user-tie icono"></i> Administración profesional de 1 red social a elección (Facebook o Instagram)</li>
                        <li class="list-group-item tipo"><i class="fas fa-chart-line icono"></i> Estrategia de marketing de contenido </li>
                        <li class="list-group-item tipo"><i class="fas fa-image icono"></i> 5 publicaciones x semana </li>
                        <li class="list-group-item tipo"><i class="fas fa-paint-brush icono"></i> 10 plantillas únicas de diseño gráfico institucionales para el negocio</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mt-3">
            <div class="card borde">
                <div class="card-header subt" style="color:#95389e;">
                    <strong>PLAN ME ENCANTA</strong>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item tipo"><i class="fas fa-user-tie icono"></i> Administración profesional de Facebook e Instagram </li>
                        <li class="list-group-item tipo"><i class="fas fa-chart-line icono"></i> Estrategia de marketing de contenido</li>
                        <li class="list-group-item tipo"><i class="fas fa-image icono"></i> 5 publicaciones x semana </li>
                        <li class="list-group-item tipo"><i class="fas fa-paint-brush icono"></i> 10 plantillas únicas de diseño gráfico institucionales para el negocio</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mr-5 ml-5">
        <a href="https://api.whatsapp.com/send?phone=543434651725&text=Comunicate%20con%20MYA" class="tipo btn btn-light borde mt-3 mb-3">Consultar Precios</a>
    </div>

</div>