.resaltado {
    color: #95389e;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    color: #95389e;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}