<div class="container-fluid" style="padding-bottom: auto; background-color:  #ffe6e6;">
    <div class="row justify-content-center">
        <div class="col-10 card mt-3" style="background-color:  #ffe6e6;">
            <h1 class="card-title titulo">
                PLANES A MEDIDA
            </h1>
            <div class="card-body">

                Diseñamos estrategias de acuerdo a lo que estás necesitando y elaboramos un presupuesto sobre ello.

                <h1 class="resaltado animate__flash"> En un mundo digital, no podés quedar afuera </h1>

            </div>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <div class="col mt-3 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Emprendedor1.jpeg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col mt-3 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Emprendedor2.jpeg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col mt-3 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Emprendedor3.jpeg" class="card-img-top" alt="...">
            </div>
        </div>
    </div>


</div>