<div class="container-fluid" style="padding-bottom: auto; background-color:  #ffe6e6;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Empresa1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-block justify-content-center" style="text-align: justify; font-family:'Montserrat', sans-serif;"> Un plan pensado para aquellas empresas que requieren dar inicio en el proceso de cocimiento de la marca en los medios digitales.  </button>
                </div>
            </div>
        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Empresa2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-block justify-content-center" style="text-align: justify; font-family:'Montserrat', sans-serif;"> Un plan pensado para empresas centradas en vender. Si bien todas las empresas, poseen este objetivo, en este caso están focalizadas específicamente en incentivar las conversiones a través de consultas directas o compras a través de sitios web.  </button>
                </div>
            </div>
        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Empresa3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-block justify-content-center" style="text-align: justify; font-family:'Montserrat', sans-serif;"> Un plan pensado para empresas que ya son conocidas pero requieren mayor participación de su audiencia para obtener posicionamiento.  </button>
                </div>
            </div>
        </div>
    </div>
</div>