<div class="container-fluid" style="padding-bottom: auto; background-color:  #00bcd4;">
    <div class="row">
        <div class="col-sm-4 mt-3">
            <div class="card borde">
                <div class="card-header subt" style="color:  #95389e;">
                    <strong>PLAN ALCANCE</strong>
                </div>
                <div class="card-body">
                    <p class="card-text tipo">
                        Desarrollamos un plan pensado para aquellas empresas que requieren dar inicio en el proceso de cocimiento de la marca en los medios digitales.
                        <br> <strong> Este paquete incluye:</strong>
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item tipo"><i class="fas fa-chart-line icono"></i> Estrategias de Marketing de reconocimiento para cada red social</li>
                        <li class="list-group-item tipo"><i class="fas fa-image icono"></i> 5 publicaciones por semana en <strong>INSTAGRAM y FACEBOOK</strong></li>
                        <li class="list-group-item tipo"><i class="fas fa-paint-brush icono"></i> Diseño gráfico profesional</li>
                        <li class="list-group-item tipo"><i class="fas fa-chart-pie icono"></i> Evaluación periódica de estadísticas</li>
                        <li class="list-group-item tipo"><i class="far fa-newspaper icono"></i> Gestión Publicitaria Básica</li>
                        <li class="list-group-item tipo"><i class="fas fa-user-friends icono"></i> Asesoramiento constante</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mt-3 mb-3">
            <div class="card borde">
                <div class="card-header subt" style="color:  #95389e;">
                    <strong>PLAN INTERACCIÓN</strong>
                </div>
                <div class="card-body">
                    <p class="card-text tipo">
                        Un plan pensado para empresas que ya son conocidas pero requieren mayor participación de su audiencia para obtener posicionamiento.
                        <br> <strong> Este paquete incluye:</strong>

                    </p>
                    <ul class="list-group">
                        <li class="list-group-item tipo"><i class="fas fa-chart-line icono"></i> Estrategias de Marketing de Contenido para cada red social</li>
                        <li class="list-group-item tipo"><i class="fas fa-image icono"></i> 5 publicaciones por semana en <strong>INSTAGRAM y FACEBOOK</strong></li>
                        <li class="list-group-item tipo"><i class="fas fa-mobile-alt icono"></i> 10 publicaciones semanales en <strong>HISTORIAS</strong></li>
                        <li class="list-group-item tipo"><i class="fab fa-google icono"></i> 3 publicaciones x semana en <strong>GOOGLE MY BUSINSESS</strong></li>
                        <li class="list-group-item tipo"><i class="fas fa-paint-brush icono"></i> Diseño gráfico profesional</li>
                        <li class="list-group-item tipo"><i class="fas fa-chart-pie icono"></i> Evaluación periódica de estadísticas</li>
                        <li class="list-group-item tipo"><i class="far fa-newspaper icono"></i> Gestión Publicitaria Básica en Facebook e Instagram Ads</li>
                        <li class="list-group-item tipo"><i class="fas fa-user-friends icono"></i> Asesoramiento constante</li>
                        <li class="list-group-item tipo"><i class="fas fa-hashtag icono"></i> Asesoramiento para utilizar otras plataformas como TIK-TOK, Twitter o Pinterest. </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mt-3">
            <div class="card borde">
                <div class="card-header subt" style="color: #95389e;">
                    <strong>PLAN CONVERSIÓN</strong>
                </div>
                <div class="card-body">
                    <p class="card-text tipo">
                        Desarrollamos un plan pensado para empresas centradas en vender. Si bien todas las empresas, poseen este objetivo, en este caso están focalizadas específicamente en incentivar las conversiones a través de consultas directas o compras a través de sitios
                        web.
                        <br> <strong> Este paquete incluye:</strong>
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item tipo"><i class="fas fa-chart-line icono"></i> Estrategias de Marketing de contenido y de conversión</li>
                        <li class="list-group-item tipo"><i class="fas fa-image icono"></i> 7 publicaciones por semana en <strong>INSTAGRAM y FACEBOOK</strong></li>
                        <li class="list-group-item tipo"><i class="fas fa-mobile-alt icono"></i> 10 publicaciones semanales en <strong>HISTORIAS</strong></li>
                        <li class="list-group-item tipo"><i class="fab fa-google icono"></i> 5 publicaciones x semana en <strong>GOOGLE MY BUSINSESS</strong></li>
                        <li class="list-group-item tipo"><i class="fas fa-paint-brush icono"></i> Diseño gráfico profesional
                        </li>
                        <li class="list-group-item tipo"><i class="fas fa-chart-pie icono"></i> Evaluación periódica de estadísticas</li>
                        <li class="list-group-item tipo"><i class="far fa-newspaper icono"></i> Gestión Publicitaria Básica en Facebook, Instagram y Google Ads</li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-center mr-5 ml-5">
        <button class="btn btn-light borde mb-3 mt-3 btn-block tipo" style="color: #95389e;" [routerLink]="['/contacto']" routerLinkActive="router-link-active">Consultar Precios</button>
    </div>

</div>