<div style="background-color: #00bcd4;  min-height: 80vh;" class="container-fluid">

    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativas4.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p>
                        Trabajamos responsablemente y en equipo para gestionar íntegramente tus redes sociales, de acuerdo a tus objetivos y respetando tu estilo. ¡No te preocupes por nada y dejá tus redes sociales en mano de profesionales!
                    </p>
                </div>
            </div>
        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativas3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p>
                        Creamos tus campañas publicitarias en Facebook, Instagram y Google Ads, de acuerdo a tus objetivos: Alcance, interacción, engagement, ventas. Además, potenciamos acciones como recibir mayor número de consultas a través de Whatsapp o mensaje privado, tráfico
                        Web o compras en catálogos.
                    </p>
                </div>
            </div>

        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativas6.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p>
                        Diseñamos un plan de contenidos estratégicos para tus redes sociales, sitio Web o E-mails, para que cumplan tus objetivos, mantenga un hilo de conexión y sean coherentes con tu empresa.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-3 borde">
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativas5.jpeg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col mt-5 mb-5 ml-0">
            <div class="card">
                <div class="card-body">
                    <p>
                        <strong>Sitio Web Basic</strong>
                        <br> <i class="fas fa-check icono"></i> Creación de página web estática, es decir, sólo es informativa (No posee tienda).
                        <br> <i class="fas fa-check icono"></i> Sitio Responsive (Apto para PC y celulares)
                        <br> <i class="fas fa-check icono"></i> Dominio Propio Certificado de página segura
                        <br> <i class="fas fa-check icono"></i> Enlace con correo electrónico y redes sociales
                        <br> <i class="fas fa-check icono"></i> Formulario de contacto
                        <br> <i class="fas fa-check icono"></i> Diseño gráfico de 5 imágenes.
                    </p>
                </div>
            </div>

        </div>
        <div class="col mt-5 mb-5 ml-0">
            <div class="card">
                <div class="card-body">
                    <p>
                        <strong>Sitio Web E-commerce</strong> <br> <i class="fas fa-check icono"></i> Creación de página Web con carrito de compras.
                        <br> <i class="fas fa-check icono"></i> Sitio Responsive (Apto para PC iconoy celulares)
                        <br> <i class="fas fa-check icono"></i> Tienda en línea con carrito de compras con diferentes formas de pago (Paypal, Mercadopago, otro).
                        <br> <i class="fas fa-check icono"></i> Hasta 50 productos ya cargados en la Tienda. (El propietario de la página puede cargar más artículos)
                        <br> <i class="fas fa-check icono"></i> Dominio Propio Hosting
                        <br> <i class="fas fa-check icono"></i> Certificado de página segura
                        <br> <i class="fas fa-check icono"></i> Enlace con correo electrónico y redes sociales
                        <br> <i class="fas fa-check icono"></i> Formulario de contacto
                        <br> <i class="fas fa-check icono"></i> No incluye diseño gráfico
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>