<div class="container-fluid" style="padding-bottom: auto; background-color: #ffe6e6;">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativas4.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-block"> Quiero saber más </button>
                </div>
            </div>
        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativas3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-block"> Quiero saber más </button>
                </div>
            </div>
        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativas6.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-block"> Quiero saber más </button>
                </div>
            </div>
        </div>
        <div class="col mt-5 mb-5">
            <div class="card">
                <img src="/assets/imagenes/Representativas5.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <button class="btn btn-block"> Quiero saber más </button>
                </div>
            </div>
        </div>
    </div>

</div>